@font-face {
    font-family: digital;
    src: url(./fonts/Digital\ Dismay.otf);
}



.title {
    font-size: 40px;
}

.ticking-clock{
    font-family: digital;
    font-size: 200px;

    
}

.mirrored-ticking-clock{
    font-family: digital;
    font-size: 200px;

    font-family: digital;
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}

.test {
    font-family: digital;
    font-size: 150px;

    font-family: digital;
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(1);
    filter: FlipV;
    -ms-filter: "FlipV";
}